.expense-list-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        padding: 12px 0;
        color: $darkAqua;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1;
        padding-block: 16px;
        background-color: $lightAqua;
    }

    .expense-preview-container {
        position: relative;
        box-shadow: 0 0 3px rgba($gray-800, 0.2);
        background-color: $white;
        padding: 12px 20px;
        padding-inline-end: 40px;

        display: grid;
        grid-template-columns: 3fr 1fr;
        color: $darkText;
        column-gap: 8px;
        row-gap: 9px;

        .name,
        .date,
        .exclude {
            color: $grayText;
        }
        .exclude {
            font-size: $fontStizeSmall;
            grid-row: 3/4;
        }
        .ellipsis-icon {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);

            img {
                transform: rotate(90deg);
            }
        }
    }

    .footer {
        padding-block: rem(24px);
        .bottom-btn {
            margin-bottom: 0;
        }
    }
    .export-btn {
        height: 30px;
    }
}
