.expense-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    padding: 12px 0;
    color: $dark-aqua;
  }

  .list-container {
    position: relative;
    overflow-y: auto;
    flex: 1;
    border-block: 2px solid $light-gray;
    background-color: $light-bgc;
  }

  .expense-list {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .expense-preview-container {
    position: relative;
    box-shadow: 0 0 3px rgba($gray-800, 0.2);
    background-color: $white;
    padding: 12px 20px;
    padding-inline-end: 40px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    color: $dark-text;
    column-gap: 8px;
    row-gap: 9px;

    .name,
    .date,
    .exclude {
      color: $gray-text;
    }
    .exclude {
      font-size: $font-size-small;
      grid-row: 3/4;
    }
    .ellipsis-icon {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);

      img {
        transform: rotate(90deg);
      }
    }
    .select-box-wrapper {
      position: relative;
      grid-row: 1/3;
      display: flex;
      > * {
        top: 25%;
      }
    }

    &.selectable {
      grid-template-columns: 1fr 6fr 2fr;

      .exclude {
        grid-column: 2;
      }
    }
  }

  .footer {
    padding-block: rem(24px);
    .bottom-btn {
      margin-bottom: 0;
    }
  }
  .export-btn {
    height: 30px;
  }

  &.selectable {
    position: absolute;
    inset: 0;
    background-color: $white;

    .title {
      padding-block: 20px;
    }

    .description {
      padding-bottom: 12px;
      line-height: 1.6em;
      font-size: $font-size-medium;
    }
  }

  .select-all {
    padding-inline-start: 20px;
    padding-block: 6px;
    background-color: $white;
  }

  .no-expenses {
    text-align: center;
    font-size: $font-size-large-1;
    margin-top: 80px;
    color: $gray-500;
  }
}
