::-webkit-scrollbar {
    margin-left: 2.5px;
    padding: 1px;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: $gray-700;
    border-radius: 10px;
}

.main-app-container {
    background: rgb(248,255,235);
    background: linear-gradient(25deg, rgba(248,255,235,0.7231267507002801) 0%, rgba(223,255,251,0.8631827731092436) 56%);
    background-repeat: no-repeat;
}
