// // Font Sizes
// .fs12 { font-size: rem(12px); }
// .fs14 { font-size: rem(14px); }
// .fs18 { font-size: rem(18px); }
// .fs20 { font-size: rem(20px); }
// .fs24 { font-size: rem(24px); }
// .fs28 { font-size: rem(28px); }
// .fs30 { font-size: rem(30px); }

// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}

// Title

.page-header {
  margin-bottom: 20px;
  .title {
    font-size: $font-size-large-2;
    font-weight: 600;
  }
}

.preview-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid $gray-400;
  padding: 5px 0;
}

.form-row {
  margin-bottom: 20px;
}

.header-title {
  font-weight: normal;
  color: $dark-aqua;
  font-size: rem(20px);
}