.container {
  margin-inline: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  > * {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.main-app-container {
  margin: auto;
  max-width: 700px;
  height: 100vh;
  height: $vh;
  display: flex;
  flex-direction: column;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 20px;
}

$columns: $grid-columns;
$spacer: 12px;

@mixin make-col($size, $columns) {
  width: 100%;
  padding: $spacer;
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-bottom: $spacer;
}
