// Colors

$white: #fff !default;
$white-transparent: #ffffffbd;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$smokedWhite: #edf0f6;
$blue: #0d6efd !default;
$red: #dc3545 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$cyan: #0dcaf0 !default;
$darkBlue: #0a53c0;

$statusGreen: #00c388;
$statusYellow: #ffd98f;
$statusBlue: #7bb8ff;
$statusGray: #b4b4b4;
$statusRed: #ff5959;
$statusMaroon: #a00000;

$pop: #48CAC0;

$progressBlink: #b5c8df;

$bgcHeader: #1f7a8c;
$bgcAside: #272e36;

$dashboardGreen: #22dea5;
$dashboardRed: #ff5959;
$dashboardOrange: #fd7949;
$dashboardYellow: #f1e47e;
$dashboardGreen: #1dc391;
$dashboardGreenDarker: #0a856e;
$dashboardBlue: #5f6fff;
$dashboardPink: #fd88f1;
$dashboardPurple: #c376ff;

$canvasYellow: #827217;
$canvasYellowDarker: #5c501e;
$canvasPink: #8d2458;
$canvasPinkDarker: #5b2340;
$canvasGreen: #1ae3af;
$canvasGreenDarker: #0f5c4c;
$canvasBlue: #00a2ff;
$canvasBlueDarker: #314755;

$regGray: #7d7e80;
$darkGray: #3d3d3d;
$darkerGray: #222222;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 980px;
$wide-breakpoint: 1200px;

// Layout
$grid-columns: 12;

$headerHeight: 65px;

// Fonts
$font-family-secular-one: 'secularOne', sans-serif;
$font-family-arial: Arial, Helvetica, sans-serif;

$fontStizeXSmall: 0.75rem; //12px;
$fontStizeSmall: 0.875rem; //14px;
$fontSizeNormal: 1rem; //16px;
$fontSizeMedium: 1.125rem; //18px;
$fontSizeBig: 1.375rem; //22px;
$fontSizeBig2: 1.75rem; //28px;
$fontSizeBigger: 2.125rem; //34px;
$fontSizeHuge: 2.5rem; //40px;
