// Colors

$white: #fff !default;
$white-transparent: #ffffffbd;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$smokedWhite: #edf0f6;
$blue: #0d6efd !default;
$red: #df5561 !default;
$yellow: #fff3cd !default;
$green: #d4edda !default;
$cyan: #0dcaf0 !default;
$darkBlue: #115fd3;

$messageRed: #f8d7da;

$statusGreen: #00c388;
$statusYellow: #ffd98f;
$statusBlue: #7bb8ff;
$statusGray: #b4b4b4;
$statusRed: #ff5959;
$statusMaroon: #a00000;

$pop: #48cac0;

$regGray: #7d7e80;
$darkGray: #3d3d3d;
$darkerGray: #222222;


// NEW COLORS
$lightGray: #f2f2f2;
$lightAqua: #eaf4f4;
$buttonGreen: #04a7b6;
$darkAqua: #027782;

$darkText: #1a1f22; 
$grayText: #737473; 


$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $messageRed !default;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 980px;
$wide-breakpoint: 1200px;

// Layout
$grid-columns: 12;

$headerHeight: 65px;

// Fonts
$font-family-secular-one: 'secularOne', sans-serif;
$font-family-arial: Arial, Helvetica, sans-serif;

$fontStizeXSmall: 0.75rem; //12px;
$fontStizeSmall: 0.875rem; //14px;
$fontSizeNormal: 1rem; //16px;
$fontSizeMedium: 1.125rem; //18px;
$fontSizeBig: 1.375rem; //22px;
$fontSizeBig2: 1.75rem; //28px;
$fontSizeBigger: 2.125rem; //34px;
$fontSizeHuge: 2.5rem; //40px;

$vh: calc(var(--vh, 1vh) * 100);
