.login-signup-container {
    .page-header {
        margin-bottom: 35px;
    }
    .form-row {
        margin-bottom: 26px;
    }
    label {
        font-size: $font-size-medium;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .no-account {
        display: flex;
        justify-content: space-between;
        padding: 0 6px;

        span {
            color: $dark-blue;
            cursor: pointer;
        }
    }

    .error {
        color: $red;
        font-size: $font-size-normal;
    }
    .password-field {
        position: relative;
    }
    .toggle-password {
        max-height: 20px;
        position: absolute;
        right: 20px;
    }
}
