.form-control {
    display: flex;
    flex-direction: column;

    .valid-feedback {
        color: $success;
    }
    .invalid-feedback {
        color: $error;
    }
}

.form-label {
    margin-bottom: 10px;
}
