$header-height: 80px;

.app-header-container {
    padding: 20px 0;
    max-height: $header-height;
    display: flex;
    justify-content: space-between;

    .back {
        img {
            width: 24px;
            height: 24px;
        }
    }

    .avatar-container {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: 1px solid $gray-700;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        &.letter-avatar {    
            background-color: #862be9;
        }

        img {
            // padding: 4px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .default-avatar {
            padding: 4px;
            object-fit: contain;
            background-color: white;
        }
        .avatar {
            font-size: $fontSizeBig2;
            font-weight: 500;
            color: $gray-100;
        }
    }

    .left-container {
        min-width: 1px;
    }

    .screen {
        position: fixed;
        inset: 0;
        transition: background-color 0.3s;
        z-index: -100;
        &.open {
            background-color: rgba(0, 0, 0, 0.438);
            z-index: 98;
        }
    }

    &.load {
        z-index: 98;
        .avatar-container {
            opacity: 0.7;
        }
    }
}
