.check-box-container {
  display: flex;
  position: relative;
  cursor: pointer;

  .checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
  .checkmark {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: $gray-300;
    border: 1px solid $gray-200;
    border-radius: 4px;

    transition: background-color 0.2s ease-in-out;
  }

  &:has(.checkbox:checked) .checkmark {
    background-color: $blue;
  }

  &:has(:hover) .checkmark {
    background-color:  $gray-200;
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
    left: 7px;
    top: 1px;
    width: 7px;
    height: 15px;

    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* Show the checkmark when checked */
  &:has(.checkbox:checked) .checkmark:after {
    display: block;
  }
}
