.multi-select-container {
    position: relative;
    
    .search-input {
        border: none;
        width: 100%;
        height: 100%;
        outline: none;
        text-transform: uppercase;

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
    .box {
        position: relative;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $gray-400;
        display: flex;
        padding-inline-start: 6px;
        align-items: center;
        background-color: white;

        img {
            position: absolute;
            height: 20px;
            width: 20px;
            right: 10px;

            transition: transform 0.4s;
            &.open {
                transform: rotate(180deg);
            }
        }
        .placeholder {
            color: $gray-800;
            font-weight: 400;
            &.multi {
                color: $gray-600;
            }
        }
    }
    .drop-down-select {
        position: absolute;
        background-color: white;
        width: 100%;
        max-height: 180px;
        padding: 6px;
        border-radius: 4px;
        border: 1px solid $gray-400;
        transform: translateY(6px);
        z-index: 20;
        overflow-y: auto;

        .drop-down-item {
            position: relative;
            font-size: 18px;
            padding: 6px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;

            input[type='checkbox'] {
                height: 20px;
                width: 20px;
                opacity: 0;
                position: absolute;
            }

            &:hover {
                background-color: #f3f3f3;
            }

            &.multi {
                input[type='checkbox'] {
                    opacity: 1;
                    position: static;
                }
            }
        }
        .top-selection {
            border-bottom: 1px solid $gray-400;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        .search-box {
            input {
                width: 100%;
                height: 35px;
                margin-bottom: 10px;
                border: 1px solid $gray-300;
                border-radius: 3px;
            }
        }
    }
}

// FADE
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
