.tab-nav-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 3em;
  padding-block-end: 0.5em;
  
  a {
    padding-inline: 0.3em;
    padding-block-end: 0.3em;
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 0%;
      display: block;
      left: 0;
      bottom: -1px;
      background-color: $gray-300;
      transition: width 0.3s;
      
    }
    &.router-link-active::after {
      width: 100%;
      
    }
  }

}