.group-list-container {
    .group-list {
        margin-bottom: rem(26px);

        .group-preview-container {
            font-size: $fontSizeMedium;
        }

    }

    .no-groups {
        text-align: center;
        font-size: $fontSizeBig;
        margin-top: 80px;
        color: $gray-500;
        
        .add-group-instruction {
            margin-top: 10px;
            font-size: $fontSizeNormal;

            strong {
                font-weight: 500;
            }
        }
    }
}

.ellipsis-icon {
    padding: 4px;
    img {
        height: 25px;
    }

}