.group-details-container {
  position: relative;
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .title {
      font-weight: normal;
      color: $dark-aqua;
      font-size: rem(20px);
    }

    .add-expense-btn {
      height: 30px;
      padding: 0 12px;
    }
  }
  .total-spent {
    background-color: $dark-aqua;
    color: $white;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-medium;
    padding: em(20px) em(28px);
  }

  .group-expense-summary {
    padding-inline-start: rem(20px);
    color: $gray-500;
    font-size: $font-size-x-small;
    margin-bottom: 20px;
  }
}
