.group-list-container {
  position: relative;

  .page-header {
    margin-bottom: em(13px);
  }
  .group-list {
    background-color: $light-bgc;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .search-group {
      padding-inline: 1.25em;
      padding-block-end: 10px;
      background-color: $white;
      position: relative;
      .search-input {
        height: 30px;
        border-radius: 0.5em;
        background-color: $gray-200;
        padding-inline-start: 32px;
      }
      .magnifying-glass {
        position: absolute;
        left: calc(1.25em + 8px);
        top: calc(50% - 5px);
        transform: translateY(-50%);
        color: $gray-550;
      }
    }

    .group-preview-container {
      display: grid;
      grid-template-columns:  1fr auto;
      align-items: center;
      gap: em(8px);
      
      background-color: $white;
      font-size: $font-size-medium;
      margin-inline: 4px;
      padding: em(8px) 1.25em;
      border-radius: 4px;
      box-shadow: -1px 2px 1px rgba($gray-500, 0.2);
      
      transition: all 0.3s;
      
      .group-created-at,
      .group-member-count {
        font-size: $font-size-small;
        color: $gray-550
      }
      .group-member-count span {
        color: $gray-600;
        // font-weight: bold;
      }

      &:hover {
        cursor: pointer;
        box-shadow: -1px 3px 3px rgba($gray-500, 0.3);

      }
    }
  }

  .no-groups {
    text-align: center;
    font-size: $font-size-large-1;
    margin-top: 30px;
    color: $gray-500;

    .add-group-instruction {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4em;
      margin-top: 10px;
      font-size: $font-size-normal;

      svg {
        color: $gray-550;
      }
    }
  }
}

.ellipsis-icon {
  padding: 4px;
  img {
    height: 25px;
  }
}
