.group-details-container {
  position: relative;
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: normal;
      color: $dark-aqua;
      font-size: rem(20px);
    }

    .add-expense-btn {
      height: 30px;
      padding: 0 12px;
    }
  }

  .member-list {
    overflow-y: auto;
    flex: 1 1 0;
    background-color: $light-bgc;
  }
  .member {
    padding-block: 12px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    border-bottom: 1px solid $gray-400;
    background-color: $white;

    .break-down {
      &.pos {
        color: green;
      }
      &.neg {
        color: red;
      }
    }
  }
  .total-spent {
    background-color: $dark-aqua;
    color: $white;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-medium;
    padding: em(20px) em(28px);
  }
}
