.group-edit-container {
  @include modal;

  .page-header {
    display: flex;    
    align-items: center;
    justify-content: space-between;

  }

  .group-edit-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-inline: em(20px);
  }
  .group-form {
    display: flex;
    flex-direction: column;
    gap: rem(24px);
  }
  .color-picker {
    background-color: $white;
    padding-block: em(8px);
    margin-bottom: 16px;

    .title {
      padding-block: em(16px) em(8px);
      color: $reg-gray;
    }
    .colors {
      display: flex;
      justify-content: space-between;

      .color {
        width: 30px;
        height: 30px;
        border-radius: 4px;

        &.selected {
          border: 2px solid $gray-500;
        }
      }
    }
  }

 
}

.list-header {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding-top: 8px;
  .bottom-btn {
    margin-bottom: 0;
  }
}
